# Supabase (obrigatório para produção, opcional para dev com dados mock)
NEXT_PUBLIC_SUPABASE_URL=postgresql://postgres:bru04nat11edu04lipe11@db.vwwbfoplazlsymodfxal.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ3d2Jmb3BsYXpsc3ltb2RmeGFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMTQzODAsImV4cCI6MjA5Mjg5MDM4MH0.QjRFWwgATFmT8BbM2IePgD4nJH-25ktO_m873omz8FQ
